body{
  margin: 0;
  font-family: 'Poppins';
  background: url(https://art.pixilart.com/7a5df971cdd44a9.gif);
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
}
#navbar{
  display:flex;
  justify-content: end;
  width: 100%;
  background-color: tan;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

}
@media (max-width: 600px){
  #navbar{
    justify-content: center;
  }
}
#navbar a{
  height: 1em;
  padding: 2rem;
  text-decoration: none;
  color: black;
}
#navbar a:hover{
  background-color: white;
}
#welcome-section{
  background-color:rgba(43,30,21,1.00) ;
  display: flex;
  color: tan;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#welcome-section h1{
  font-size: 2.5em;
  transform: scale(0.94);
  animation: scale .8s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}
span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
#welcome-section p{
  color: tan;
  font-size: 1.8em;
  margin: 0;
  transform: scale(0.94);
  animation: scale .8s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
#projects{
  text-align: center;
  color: black;
  padding: 40px 20px;
  font-size: 25px
  
}
#project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  max-width: 800px;
  grid-gap: 4rem;
  margin: 130px auto;

  
}
.project-tile{
  text-decoration: none;
  text-align: center;
}
.project-tile:hover .tile-img{
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.tile-img{
  width: 100%;
  

}
.tile-title{
  color: black;
  background: rgba(204,173,154,1);
  margin: 0;
  padding: 20px 5px;
  font-size: 20px;
}
.project-tile:hover .tile-title{
  background: rgba(150,115,94,1);
}
#contact{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background:rgba(164,114,80,1.00);
  flex-direction: column;
  text-align: center;
}
#contact-title{
  font-size: 2em;
}
#contact-bar{
  display: flex;
  gap: 10px;
  text-decoration: none;
}
.contact-link{
  text-decoration: inherit;
  font-size: 20px;
  color: black;
}
#coffee{
  transform: translateX(10px)
}
.coffee-icon{
  position: absolute;
  width: 100px;
  opacity: 0;
  transform: translateY(80px);
 
}
.nav-link:hover + .coffee-icon{
  opacity: 1;
  animation: pours 1s;
  animation-iteration-count: infinite;
}
@keyframes pours{
  50% {
    transform: translateY(120px) rotate(-45deg);
  }
}
.coffee-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}
